body,html{
  margin: 0;
}

div.bg-container{
  position: absolute;
  z-index: -1;
  left:0px;
  right:0px;
}
div.bg-container  img{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
div.bg-container > div{
  height:1024px;
}

div.container{
  height:1024px;
}

.gr{
  position:fixed;
  top:40px;
}
.sea{
  display: block;
  height: 640px;
}

.sea > img{
  display: block;
  width: 100%;
}
