body,html{
  margin: 0;
}
.container{
  width:100%;
  height:480px;
  background-color: #4099DC;
}
.bg-container >img{
  width:100%;
}
#gr_container{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom:0px;
}
.sea{
  margin: 0px;
  height:1024px;
  background-image: url(./bg/sunny.jpeg);
  background-size: cover;
}
