html,body{
    background-color: lightgray;
}

section.wide{
  width:100%;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
}

.wide > .wide-child{
  flex-grow: 1;
  text-align: center;
}

.bg2d{
  background-image: url(./bg/2dbg.png);
}

.bg3d{
  background-image: url(./bg/3dbg.jpg);
}

.btn{
  background-color: darkorange;
  padding: 10px 30px;
  text-shadow: 1px 1px 1px #000;
  color:white;
  font-size: 32px;
  border-radius: 5px;
}

.btn:hover{
  cursor: pointer;
  background-color: orange;
}

.btn-container{
  padding: 20px 40px;
}

.rows{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inline-middle{
  vertical-align: middle;
}

.grow{
  flex-grow: 1;
}

.bg-glow{
  background-color: rgba(30,30,30,0.15);
  margin:50px 20px;
  border-radius:20px;
}

.seagulls-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  display: flex;
  width:450px;
  flex-wrap:wrap;
  justify-content: center;
}
.seagulls-container > img{
  display: block;
  width:120px;
  height:120px;
}

.score-title{
  color:white;
}
.seagull-3d{
  width: 350px;
  margin-top: 100px;
}

.replay-text{
  color:white;
}

.replay-container{
  position: absolute;
  top: 0px;
  bottom:0px;
  left:0px;
  right: 0px;
  margin: auto;
}
.replay-container-wrap{
  position: relative;
  height: 100%;
}
.grimoire-link{
  text-align: center;
  color:dimgray;
}
.grimoire-link{
  text-align: center;
  color:dimgray;
}
.grimoire-link{
  color:darkgray;
}

.grimoire-link a{
  color:dimgray;
}

img.item{
  width: 128px;
  height: 128px;
}

img.item{
  float:left;
}

.item-container p{
  clear:both;
}

div.item-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.point-text{
  font-size:32px;
  font-weight: bold;
  color:white;
  text-shadow: 1px 1px 1px #000;
}
